<ul class="thredded--navigation-breadcrumbs">
  <span>&nbsp;</span>
  <li><span>&nbsp;</span><i class="fa fa-search fa-lg"><span>&nbsp;</span></i>Path_Finder</li>
  <li><%= link_to t('thredded.nav.all_messageboards'), messageboards_path -%></li>
  <li><%= link_to t('thredded.nav.private_topics'), private_topics_path -%></li>
</ul>
